<%- include('./../layouts/login/header') %>
<div class="form-box" id="login-box">
    <div class="header">Register New Membership</div>
    <form action="/customers/add" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_csrf" value="<%= csrf %>">
        <div class="body bg-gray">
           
            <div class="form-group">
                <input type="text" name="f_name" class="form-control" placeholder="First Name"/>
            </div>

            <div class="form-group">
                <input type="text" name="l_name" class="form-control" placeholder="Last Name"/>
            </div>

            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email ID"/>
            </div>

            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password"/>
            </div>

            <div class="form-group">
                <input type="text" name="dob" class="form-control" placeholder="Date of Birth"/>
            </div>

            <div class="form-group">
                <input type="text" name="phone" class="form-control" placeholder="Phone"/>
            </div>

            <div class="form-group">
                <input type="text" name="empcode" class="form-control" placeholder="Employee code"/>
            </div>

            <div class="form-group">
                <input type="file" name="uploads" class="form-control" placeholder="Upload File"/>
            </div>


        </div>
        <div class="footer">                    

            <button type="submit" class="btn bg-olive btn-block">Sign me up</button>

            <a href="/auth/login" class="text-center">I already have a membership</a>
        </div>
    </form>

</div>
<%- include('./../layouts/login/footer') %>