<div class="box box-primary" id="col1">
	<div class="box-header">
			<i class="ion ion-clipboard"></i>
			<h3 class="box-title">Topic Lists</h3>

			<div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right" id="codebasePagination">


          </ul>
      </div>

	</div><!-- /.box-header -->
	<div class="box-body">
			<ul class="todo-list" id="topics">


			</ul>
	</div><!-- /.box-body -->
</div><!-- /.box -->