<div class="box box-primary" id="col4">
    <div style="cursor: move;" class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title">Chat</h3>
        <div data-original-title="Status" class="box-tools pull-right" data-toggle="tooltip" title="">
            <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-sm active chat-join" ><i class="fa fa-square text-green"></i></button>
                <button type="button" class="btn btn-default btn-sm chat-leave" ><i class="fa fa-square text-red"></i></button>
            </div>
        </div>
    </div>
    <div style="position: relative; overflow: hidden; width: auto; height: 250px;" class="">
        <div style="overflow: hidden; width: auto; height: 250px; overflow-y: scroll;" class="box-body chat" id="chat-box">
            <!-- chat item -->
            <div class="item" id="chat-messages">
            </div>
            <!-- /.item -->
        </div>
        <div style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 187.126px;" class="slimScrollBar"></div>
        <div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div>
    </div>
    <!-- /.chat -->
    <div class="box-footer">
        <div class="input-group">
            <input class="form-control" id="chat-text" placeholder="Type message...">
            <div class="input-group-btn">
                <button class="btn btn-success" id="chat-send"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- /.box -->