 
                <!-- sidebar: style can be found in sidebar.less -->
   <aside class="left-side sidebar-offcanvas" style="min-height: 1100px">
			<section class="sidebar">
					<!-- Sidebar user panel -->
					<div class="user-panel">
												
							<div class="pull-left image">
									<img src="img/avatar3.png" class="img-circle" alt="User Image" />
							</div>

							<div class="pull-left info">
									<p>
											<h3><%=title %></h3>
									</p> 
									<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
							</div>

					</div>
                
					<!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="active">
								<a href="/">
                  <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
                        
            <li class="treeview">
                <a href="#">
									<i class="fa fa-user"></i>
									<span>User Management</span>
									<i class="fa fa-angle-left pull-right"></i>
                </a>
            
						    <ul class="treeview-menu">
                    <li><a href="/users/add"><i class="fa fa-angle-double-right"></i> Add Users</a></li>
                    <li><a href="/users/view"><i class="fa fa-angle-double-right"></i> View Users</a></li>
                </ul>
             </li>
                        
             <li class="treeview">
                 <a href="#">
                    <i class="fa fa-laptop"></i> <span>Domain</span>
                    <i class="fa fa-angle-left pull-right"></i>
                 </a>
                            
									<ul class="treeview-menu">
                      <li><a href="/categories/add"><i class="fa fa-angle-double-right"></i> Add Category</a></li>
                      <li><a href="/categories/view"><i class="fa fa-angle-double-right"></i> View Category</a></li>
                      <li><a href="/subcategory/add"><i class="fa fa-angle-double-right"></i> Add Sub Category</a></li>
                      <li><a href="/subcategory/view"><i class="fa fa-angle-double-right"></i> View Sub Category</a></li>
                  </ul>
              </li>
            </ul>
      </section>
      </aside>
                <!-- /.sidebar -->
  