
<%- include('./../layouts/dashboard/header', {title, href}) %>

<%- include('./../layouts/dashboard/sidebar', {title}) %>

<aside class="right-side">

    <section class="content-header">
                    <h1>
                        Add Categories
                        <small>Control panel</small>
                    </h1> 
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active">Add Categories</li>
                    </ol>
    </section>

    <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                          

                <form role="form" method="post" action="/categories/add">
                     <div class="box-body">
                        
                            <div class="form-group">
                                <label for="phone">Category Name</label>
                                <input type="text" class="form-control" id="category_name" name="category_name"
                                       placeholder="Enter Category Name">
                            </div>

                            <div class="form-group">
                                <label for="phone">Description</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
                            </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                            <input type="button" class="btn btn-warning" value="Cancel" ></input>
                    </div>
                </form>  
            </div>
          </div> 
        </div>
     
     </section>     

</aside>    
<%- include('./../layouts/dashboard/footer') %>